<div class ="item">
  
    <a target="_self" href="{{environment}}/product/{{getProductSlug()}}" class="clickable-image">
      <img src={{rubik.avatar}} alt="{{rubik.name}}">
    </a>
    <div class ="info">
        <div class="title">
        <a target="_self" href="{{environment}}/product/{{getProductSlug()}}" class="clickable-title">
          <h3>{{rubik.name}}</h3>
        </a>
        </div>
        <a class="detail-btn" target="_self" href="{{environment}}/product/{{getProductSlug()}}">Detail</a>
    </div>
    </div>